<div class="card mt-3">
  <main class="col-12 px-3">
    <div class="chartjs-size-monitor">
      <div class="chartjs-size-monitor-expand">
        <div class=""></div>
      </div>
      <div class="chartjs-size-monitor-shrink">
        <div class=""></div>
      </div>
    </div>
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4>Profile</h4>
      <button class="btn btn-primary" (click)="addNewCV()">Add Employee</button>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>List Employee</h4>
      </div>
      <div class="col-md-6">
        <div class="d-flex">
          <div class="">
            <label>Group</label>
            <select [(ngModel)]="selectedGroup" class="form-control" (change)="onSearch()" >
              <option *ngFor="let group of listGroup" [value]="group">{{group}}</option>
            </select>
          </div>
          <div class="ms-2">
            <label>Status</label>
            <select [(ngModel)]="selectedStatus" class="form-control" (change)="onSearch()" >
              <option *ngFor="let status of listStatus" [value]="status">{{status}}</option>
            </select>
          </div>

        </div>

        <input type="text" class="form-control form-control-sm mt-2" placeholder="Search" [(ngModel)]="searchQuery"
          (input)="onSearch()">
      </div>
      <div class="col-md-3 d-flex" style="    align-self: end;">
        <div class="btn-group" role="group" style="height: min-content;">
          <p for="pageSize" class="me-3">Show: </p>
          <button class="btn btn-sm btn-outline-secondary" [class.active]="pageSize === 10"
            (click)="onPageSizeChange(10)">10</button>
          <button class="btn btn-sm btn-outline-secondary" [class.active]="pageSize === 20"
            (click)="onPageSizeChange(20)">20</button>
          <button class="btn btn-sm btn-outline-secondary" [class.active]="pageSize === 30"
            (click)="onPageSizeChange(30)">30</button>
        </div>
      </div>
    </div>
    <div class="table-responsive" style="overflow-y: auto;">
      <table class="table table-striped table-sm" style="width:100%">
        <thead>
          <tr>
            <th style="width: 5%;"># <fa-icon [icon]="['fas', 'caret-down']" class="cursor-pointer link-primary"
                (click)="onSort('id')"></fa-icon>
            </th>
            <th style="width: 15%;">Name<fa-icon [icon]="['fas', 'caret-down']" class="cursor-pointer link-primary"
                (click)="onSort('firstName')"></fa-icon>
            </th>
            <th style="width: 15%;">Email<fa-icon [icon]="['fas', 'caret-down']" class="cursor-pointer link-primary"
                (click)="onSort('email')"></fa-icon>
            </th>
            <th style="width: 15%;">Basic Salary <fa-icon [icon]="['fas', 'caret-down']"
                class="cursor-pointer link-primary" (click)="onSort('basicSalary')"></fa-icon>
            </th>
            <th style="width: 15%;">Group <fa-icon [icon]="['fas', 'caret-down']" class="cursor-pointer link-primary"
                (click)="onSort('group')"></fa-icon>
            </th>
            <th style="width: 200px;">Action </th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let employee of listEmployee">
            <td>{{employee.id}}</td>
            <td>{{employee.firstName}} - {{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.basicSalary | customCurrency}}</td>
            <td>{{employee.group}}</td>
            <td>
              <div class="row text-center">
                <div class="col-4 ps-0 pe-1">
                  <div class="float-right align-items-center bg-primary text-white rounded cursor-pointer"
                    (click)="toDetailPage(employee.id)">
                    <div class="col align-items-center p-1">
                      <p class="text-sm color-orange"> Details
                        <span class="pl-4"><i class="fas fa-arrow-right ml-3 color-orange"></i></span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-4 ps-0 pe-1">
                  <div class="float-right align-items-center bg-danger rounded cursor-pointer"
                    (click)="openModal('Delete',employee.firstName,employee.id)">
                    <div class="col align-items-center p-1 mx-3">
                      <p class="text-sm  text-white"> Delete
                        <span class="pl-4"><i class="fas fa-trash ml-3 text-white"></i></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-4 ps-0 pe-2">
                  <div class="float-right align-items-center bg-warning rounded  cursor-pointer"
                    (click)="toEditPage(employee.id)">
                    <div class="col align-items-center p-1">
                      <p class="text-sm  text-white"> Edit
                        <span class="pl-4"><i class="fas fa-pen ml-3 text-white"></i></span>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 text-center">
      <button class="btn btn-link" [disabled]="currentPage === 1"
        (click)="onPageChange(currentPage - 1)">Previous</button>
      <span>{{ currentPage }} of {{ getTotalPages() }}</span>
      <button class="btn btn-link" [disabled]="currentPage === getTotalPages()"
        (click)="onPageChange(currentPage + 1)">Next</button>
    </div>
  </main>
</div>
<app-modal #modalRef (closed)="loadEmployeeModels()"></app-modal>
