<!-- sidebar.component.html -->
<aside id="sidebar" class="sidebar" [@slideInOut]="sidebarState ? 'in' : 'out'">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h5 class="sidebar-title">Menu</h5>
        <button id="sidebarCollapse" class="btn btn-danger" (click)="toggleSidebar()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="list-group" (click)="toggleSidebar()">
        <a [routerLink]="['/main']" class="list-group-item list-group-item-action active" aria-current="true">Dashboard</a>
        <a [routerLink]="['/main/employee']" class="list-group-item list-group-item-action">Employee Data</a>
        <a [routerLink]="['/main/settings']" class="list-group-item list-group-item-action">Settings</a>
        <a [routerLink]="['/main/profile']" class="list-group-item list-group-item-action">Profile</a>
        <a [routerLink]="['/login']"  class="list-group-item list-group-item-action">Logout</a>
      </div>
    </div>
  </aside>
  