<!-- sidebar.component.html -->
<aside id="sidebar" class="sidebar">
    <div class="sidebar-content">
      <div class="sidebar-header">
        <h5 class="sidebar-title">Menu</h5>
        <button id="sidebarCollapse" class="btn btn-dark">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action">Messages</a>
        <a href="#" class="list-group-item list-group-item-action">Settings</a>
        <a href="#" class="list-group-item list-group-item-action">Profile</a>
        <a href="#" class="list-group-item list-group-item-action">Logout</a>
      </div>
    </div>
  </aside>
  