.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(35 32 32 / 50%);
    z-index: 9999; /* Ensure the loading spinner is displayed on top of other content */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner-container {
    text-align: center;
  }
