<div class="row justify-content-center align-items-center">
  <div class="card col-md-7 col-lg-8 my-3 p-2">
    <h4 class="mb-3">Add CV Data</h4>
    <form class="needs-validation" [formGroup]="cvForm" (submit)="onSubmit()">
      <div class="row g-3">
        <div class="form-group col-md-6">
          <label for="firstName"><span class="text-danger">*</span>First Name:</label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control" required>
          <div *ngIf="cvForm.get('firstName')?.errors && cvForm.get('firstName')?.touched" class="text-danger">
            First Name is required
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName"><span class="text-danger">*</span>Last Name:</label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" required>
          <div *ngIf="cvForm.get('lastName')?.errors && cvForm.get('lastName')?.touched" class="text-danger">
            Last Name is required
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="address"><span class="text-danger">*</span>Address:</label>
          <input type="text" id="address" formControlName="address" class="form-control" required>
          <div *ngIf="cvForm.get('address')?.errors && cvForm.get('address')?.touched" class="text-danger">
            Address is required
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="email"><span class="text-danger">*</span>Email:</label>
          <input type="email" id="body" formControlName="email" class="form-control" required>
          <div *ngIf="cvForm.get('email')?.errors && cvForm.get('email')?.touched" class="text-danger">
            Email is required
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="birthDate"><span class="text-danger">*</span>Birth Date </label>
          <input id="birthDate" formControlName="birthDate" class="form-control" required readonly
            (click)="openPicker()">
          <div *ngIf="cvForm.get('birthDate')?.errors && cvForm.get('birthDate')?.touched" class="text-danger">
            Birth Date Release is required
          </div>
        </div>

        <div class="form-group  col-md-6">
          <label for="gender"><span class="text-danger">*</span> Gender:</label>
          <select id="gender"  formControlName="gender" class="form-control"  required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div *ngIf="cvForm.get('gender')?.errors && cvForm.get('gender')?.touched" class="text-danger">
            Gender Release is required
          </div>
        </div>

        <div class="form-group" style="display:none;">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" (dateChange)="validateDateFormat($event)" [max]="maxDate" readonly
              (click)="openPicker()">
            <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
        </div>
        
        <div class="form-group">
          <label for="skill"> <span class="text-danger">*</span> Skill:</label>
          <ng-select formControlName="skill" bindLabel="." [items]="dummyData" [searchable]="true"
            class="custom-dropdown form-control form-select"></ng-select>
          <input type="hidden" id="basicSalary" formControlName="skill" class="form-control" required>
          <div *ngIf="cvForm.get('skill')?.errors && cvForm.get('skill')?.touched" class="text-danger">
            Skill is required
          </div>
        </div>

      </div>
      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
    </form>
  </div>
</div>
